/*Reset styles*/
*{
padding: 0;
margin: 0;
border: 0;
}
 *,*:before,*:after{
-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 16px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1em; 
}

.container{
    max-width: 1260px;
    padding: 0 2.75em;
    margin: 0 auto;
}

h1, h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h1{
    font-size: 4rem; /*64px*/
    line-height: 125%;
    color: #202336;
}

h2{
    font-size: 2.25rem; /*36px*/
    line-height: 139%;
    color: #000000;  
}

img{
    max-width: 100%;
}

.btn{
    display: inline-block;
    padding: 0.8em 2em;
    font-size: 1rem;
    color: #FFFFFF;
    background: #FB8F1D;
    border: 1px solid #FB8F1D;
    border-radius: 0.5em; /*8px*/
}

.btn:hover, .btn:focus, .btn:active{
    background: #1ABE84;
    border: 1px solid #1ABE84;
}

.view-all-link{
    position: relative;
    font-weight: 600;
    color: #FB8F1D;
    margin-right: 2em;
}

.view-all-link:hover, .view-all-link:focus, .view-all-link:active{
    text-decoration: underline;
}

.view-all-link::after{
    content: '';
    position: absolute;
    top: 0.35em;
    left: 4.5em;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-top: 2px solid #FB8F1D;
    border-right: 2px solid #FB8F1D;
    transform: rotate(45deg);
}

/*Styles for header*/

.header{
    padding: 1em 0;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    max-width: 2.5em;
    height: auto;
}

.header__links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu__list{
    display: flex;
    flex-wrap: wrap;
}

.menu__item{
    margin-right: 2.125em;
}

.menu__link{
    font-size: 1rem; 
    color: #B8BECD;
}

.menu__link:hover, .menu__link:focus, .menu__link:active{
    color: #000000;
}

.header__burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
    margin-left: 2.75em;
}

.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FB8F1D;
    position: absolute;
    left: 0;
}

.burger__line_first{
    top: 0;
}

.burger__line_second{
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.burger__line_third{
    bottom: 0;
}


.btn-light{
    color: #FB8F1D;
    background: #FFFFFF;
    border: 1px solid #FB8F1D;
    margin-right: 1.125em;
}

.btn-light:hover{
    color: #1ABE84;
    background: #FFFFFF;
    border: 1px solid #1ABE84;
}

/*Intro*/

.intro{
    padding: 1em 0;
}

.intro__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__title{
    max-width: 356px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 125%;
    color: #202336;
    margin-bottom: 0.8em;
}

.finder-form__title{
    margin-bottom: 2em;
}

.finder-form__title h3{
    font-weight: 600;
    font-size: 1.375rem;
    color: #202336;
    padding-bottom: 1.3em;
}

.finder-form__title::after{
    content: '';
    display: block;
    width: 32px;
    border-bottom: 2px solid #202336;;
}

.finder-form__row{
    margin-bottom: 2em;
}

.dropdown{
    display: inline-block;
    position: relative;
    margin-right: 1.875em;
}

.dropdown:last-child{
    margin-right: 0;
}

.dropdown::after{
    content: '';
    position: absolute;
    top: 1.2em;
    right: 1.5em;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-top: 1px solid #4A4C53;;
    border-right: 1px solid #4A4C53;;
    transform: rotate(135deg);
    pointer-events: none; 
}

.dropdown__button{
    min-width: 18em;
    position: relative;
    display: block;
    width: 100%;
    font-size: 0.9rem;
    text-align: left;
    color: #4A4C53;
    background: #FFFFFF;
    border: 0.8px solid #AFB0B9;
    border-radius: 0.375em;
    padding: 1em 7em 1em 2em;
}

.dropdown__button:focus, .dropdown__button--active{
    outline: none;
    box-shadow: 0 0 0 1px #4A4C53, 0 0 1px #AFB0B9;
}

.dropdown__list{
    display: none;
    position: absolute;
    width: 100%;
    left:0;
    top: 3.2em;
    background: #FFFFFF;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(175,176,185, 0.6);
    border-radius: 0.3em;
    z-index: 10;
}

.dropdown__list--visible{
    display: block;
}

.dropdown__list-item{
    font-size: 0.8rem;
    border: 0.8px solid #AFB0B9;
    border-bottom: 0;
    padding: 1em 7em 1em 2em;
    cursor: pointer;
}

.dropdown__list-item:first-child{
    border-radius:  0.3em 0.3em 0 0;
}

.dropdown__list-item:last-child{
    border-radius:  0 0 0.3em 0.3em;
    border-bottom: 0.8px solid #AFB0B9;
}

.dropdown__list-item:hover{
    background: rgba(175,176,185, 0.2);
}

.dropdown__input-hidden{
    display: none;
}

.finder-form__btn{
    padding: 0.8em 2em;
    font-size: 1rem;
    color: #FFFFFF;
    background: #FB8F1D;
    border: 1px solid #FB8F1D;
    border-radius: 0.5em;
}

.finder-form__btn:hover, .finder-form__btn:focus, .finder-form__btn:active{
    color: #FB8F1D;
    background: #FFFFFF;
    border: 1px solid #FB8F1D;
    border-radius: 0.5em;
}

.intro__img-container{
    max-width: 40%;
    margin-left: 9em;
}

/*Info*/

.info {
    padding: 5em 0;
}
.info__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info__img-container {
    max-width: 569px;
    margin-right: 6em;
}
.info__container {
    max-width: 450px;
    
}
.info__title {
    margin-bottom: 0.5em;
}
.info__text {
    font-size: 1.063rem;
    color: #7D7987;
    margin-bottom: 1.5em;
    line-height: 176%;
}

/*Destinations*/
.destinations {
    padding: 4em 0 8em;
}
.destinations__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom:  2.5em;
}

.destinations__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.destinations__link{
    margin: 0 1em;
}

.destinations__img {
    margin-bottom: 1em;
}

/*Guides*/

.guides {
    padding: 0 0 5em;
}
.guides__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guides__img-container {
    max-width: 569px;
    margin-left: 6em;
}
.guides__container {
    max-width: 450px;
    
}
.guides__title {
    margin-bottom: 0.5em;
}
.guides__text {
    font-size: 1.063rem;
    color: #7D7987;
    margin-bottom: 1.5em;
    line-height: 176%;
}

/*Media*/

@media screen and (max-width: 960px){
    .intro__wrapper{
        flex-direction: column-reverse;
    }

    .intro__title{
        max-width: 100%;
    }

    .intro__img-container{
        max-width: 50%;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px){

    .header__burger{
        order: 3;
        display: block;
    }

    .header__menu{
        order: 1;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        z-index: 10;
        padding: 4em;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header__buttons{
        order: 2;
    }

    .header__menu_active{
        transform: translateX(0);
    }
    
    .menu__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5em;
    }

    .menu__item:last-child{
        margin-bottom: 0;
    }

    .menu__link{
        font-size: 2rem;
        color: #000000;
    }

    .header__menu-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 11;
    }

    .header__menu-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;
    }

    .header__menu-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }

    .header__menu-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }

    .finder-form__row {
        margin-bottom: 0;
    }

    .dropdown{
        display: block;
        margin-right: 0;
    }

    .dropdown__button{
        margin-bottom: 1em;
    }

    .info{
        padding: 2em 0;
    }

    .info__wrapper {
        flex-direction: column-reverse;
    }

    .info__img-container{
        margin-right: 0;
    }

    .destinations{
        padding: 2em 0;
    }

    .destinations__header {
        flex-direction: column;
    }

    .destinations__title{
        align-self: flex-start;
        margin-bottom: 0.7em;
    }

    .guides{
        padding: 0 0 2em;
    }

    .guides__wrapper {
        flex-direction: column;
    }

    .guides__img-container{
        margin-left: 0;
    }

}

@media screen and (max-width: 500px){

    html{
        font-size: 0.9em; 
    }

    .container{
        padding: 0 1em;
    }

    .header__wrapper{
        flex-direction: column;
        align-items: flex-start;
    }

    .header__logo{
        margin-bottom: 1em;
    }

    .header__burger{
        position: absolute;
        top: 1em;
        right: 1em;
    }
}


